{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    Seznam měst
{% endblock %}

{% block content %}

    <h1>Seznam měst</h1>
    <div class="mb-3">
        {% if user.is_authenticated %}
        <a href="{% url 'city_create' %}" class="btn btn-primary">Přidat město</a>
        {% endif %}
    </div>
    <ul>
        {% for city in cities %}
            <li>
                <strong>{{ city.name }}</strong> <!-- Statický název města, bez odkazu -->
                {% if user.is_authenticated %}
                <a href="{% url 'city_update' city.id %}" class="ms-2 text-decoration-none" title="Upravit">📝</a>
                {% endif %}

                <ul class="mt-1">
                    <li>
                        <a href="{% url 'events' %}?city={{ city.name|urlencode }}">
                            Počet událostí v {{ city.name }}: {{ city|event_count_for_city }} {{ city|event_count_for_city|sklonuj_udalost }}
                        </a>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}