{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    Seznam měst
{% endblock %}

{% block content %}
    <h1>Seznam měst</h1>
    <div class="mb-3">
        {% if user.is_authenticated %}
        <a href="{% url 'city_create' %}" class="btn btn-primary">Přidat město</a>
        {% endif %}
    </div>

    <div class="row g-4">
        {% for city in cities %}
        <div class="col-md-4">
            <div class="p-3 border rounded bg-light shadow-sm h-100">
                <div class="d-flex justify-content-between align-items-start">
                    <!-- Odkaz na Wikipedii pro město -->
                    <a href="https://cs.wikipedia.org/wiki/{{ city.name|urlencode }}" target="_blank" class="fw-bold text-primary">
                        <strong>{{ city.name }}</strong>
                    </a>
                    {% if user.is_authenticated %}
                    <span>
                        <a href="{% url 'city_update' city.id %}" class="text-decoration-none ms-2" title="Upravit">📝</a>
                        <a href="{% url 'city_delete' city.id %}" class="text-decoration-none ms-2" title="Smazat">🗑️</a>
                    </span>
                    {% endif %}
                </div>

                <div class="mt-2">
                    <a href="{% url 'events' %}?city={{ city.name|urlencode }}" class="link-primary text-decoration-none">
                        Počet akcí ve městě: {{ city|event_count_for_city }} {{ city|event_count_for_city|sklonuj_udalost }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}