{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    Seznam měst
{% endblock %}

{% block content %}
    <h1>Seznam měst</h1>
    <div class="mb-3">
        {% if user.is_authenticated %}
        <a href="{% url 'city_create' %}" class="btn btn-primary">Přidat město</a>
        {% endif %}
    </div>
    <ul>
        {% for city in cities %}
            <li>
                <strong>{{ city.name }}</strong>
                <ul class="mt-1">
                    <li>
                        Počet událostí: {{ city|event_count_for_city }} {{ city|event_count_for_city|sklonuj_udalost }}
                    </li>
                </ul>
            </li>
        {% empty %}
            <li>V databázi není žádné město.</li>
        {% endfor %}
    </ul>
{% endblock %}