{% extends 'base.html' %}
{% load custom_filters %}


{% block title %}
    Seznam zemí
{% endblock %}

{% block content %}

        <h1>Seznam států</h1>
    <div class="mb-3">
        {% if user.is_authenticated %}
        <a href="{% url 'country_create' %}" class="btn btn-primary">Přidat stát</a>
        {% endif %}
    </div>
    <ul>
        {% for country in countries %}
            <li>
                <a href="{% url 'country_detail' country.id %}">
                    <strong>{{ country.name }}</strong>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'country_update' country.id %}" class="ms-2 text-decoration-none" title="Upravit">📝</a>
                {% endif %}

                <ul class="mt-1">
                    <li>
                        <a href="{% url 'events' %}?country_name={{ country.name|urlencode }}">
                            Počet akcí ve státě: {{ country.event_count }} {{ country.event_count|sklonuj_udalost }}
                        </a>
                    </li>
                </ul>
                {% comment %}<a href="{% url 'country_delete' country.id %}" class="btn btn-sm btn-outline-danger ms-1">Smazat</a>{% endcomment %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}