{% extends 'base.html' %}

{% block title %}
   {% if form.instance.id %}
        Upravit stát
    {% else %}
        Přidat stát
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">
        {% if form.instance.id %}
            Upravit stát
        {% else %}
            Přidat stát
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label><br>
            {{ form.name }}
            {% if form.name.help_text %}
                <div class="form-text text-muted">{{ form.name.help_text }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Uložit stát</button>
    </form>

    {% if messages or form.non_field_errors or form.name.errors %}
        <div class="alert alert-danger mt-4">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {% for error in form.name.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}