{% load static %}
<style>
.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
    background-color: #00509e !important;
    color: #fff !important;
    border-radius: 4px;
}
.navbar-nav .nav-link.active {
    background-color: #003366;
    color: #fff;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003366;">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'LOGO.png' %}" alt="SuperEvents logo" style="height:48px; width:auto; vertical-align:middle; margin-right:8px;">
           
        </a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'events' %}">Události</a>
                <a class="nav-item nav-link active" href="{% url 'cities' %}">Města</a>
                <a class="nav-item nav-link active" href="{% url 'countries' %}">Země</a>

            </div>

            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">API</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Počasí</a>
                        <a class="dropdown-item" href="#">Mapa</a>
                    </div>
                </div>
            </div>

             <form class="d-flex mx-auto" style="width: 40%;" method="get" action="{% url 'search' %}">
                <input class="form-control mr-2" style="flex:1; min-width:0;" type="search" name="search" placeholder="Hledat..." aria-label="Hledat">
                <button class="btn btn-outline-success" type="submit">🔍</button>
            </form>


            <div class="navbar-nav ml-auto text-white d-flex align-items-center">
                {% if user.is_authenticated %}
                    {% if perms.viewer.add_event %}
                    <a class="btn btn-success mx-1" href="{% url 'event_create' %}">➕ Přidat událost</a>
                    {% endif %}
                    <div class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                            Ahoj, {{ user.first_name|default:user.username }}!
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'profile_detail' user.id %}">Můj profil</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">Změna hesla</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Odhlásit</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-item btn btn-success mx-1" href="{% url 'signup' %}">Registrace</a>
                    <a class="nav-item btn btn-success mx-1" href="{% url 'login' %}">Přihlášení</a>
                {% endif %}
            </div>



        </div>
    </div>
</nav>

