{% extends 'base.html' %}

{% block title %}
    Odesláno resetování hesla
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="text-center py-5">
                <h2 class="mb-4">Odkaz odeslán</h2>
                <p class="mb-4 lead">Na zadaný e-mail byl odeslán odkaz pro resetování hesla. Zkontrolujte si svou schránku a postupujte podle instrukcí.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-5">Zpět na přihlášení</a>
            </div>
        </div>
    </div>
{% endblock %} 