{% extends 'base.html' %}

{% block title %}
    Profil uživatele: {{ profile.username }}
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card shadow rounded p-4">
            <div class="card-body">
                <h2 class="card-title text-primary mb-4 text-center">Profil uživatele: {{ profile.username }}</h2>
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-6 d-flex justify-content-between">
                            <span class="font-weight-bold">Uživatelské jméno:</span>
                            <span>{{ profile.username }}</span>
                        </div>
                        <div class="col-md-6 d-flex justify-content-between">
                            <span class="font-weight-bold">Email:</span>
                            <span>{{ profile.email }}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 d-flex justify-content-between">
                            <span class="font-weight-bold">Jméno:</span>
                            <span>{{ profile.first_name }}</span>
                        </div>
                        <div class="col-md-6 d-flex justify-content-between">
                            <span class="font-weight-bold">Příjmení:</span>
                            <span>{{ profile.last_name }}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 d-flex justify-content-between">
                            <span class="font-weight-bold">Datum registrace:</span>
                            <span>{{ profile.date_joined|date:"d.m.Y" }}</span>
                        </div>
                        <div class="col-md-6 d-flex justify-content-between">
                            <span class="font-weight-bold">Poslední přihlášení:</span>
                            <span>{% if profile.last_login %}{{ profile.last_login|date:"d.m.Y H:i" }}{% else %}-{% endif %}</span>
                        </div>
                    </div>

                    <hr class="my-4">
                    <h3 class="text-center text-secondary mb-3">Moje rezervace</h3>
                    {% if reservations %}
                        <ul class="list-group">
                            {% for reservation in reservations %}
                                <li class="list-group-item d-flex justify-content-between align-items-center text-wrap">
                                    <a href="{% url 'event_detail' reservation.event.pk %}" class="text-truncate">
                                        {{ reservation.event.name }} ({{ reservation.event.get_start_date_cz_format }})
                                    </a>
                                    <span class="text-muted small text-truncate">Rezervováno: {{ reservation.created_at|date:"d.m.Y H:i" }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-center">Nemáš žádné rezervace.</p>
                    {% endif %}

                    <hr class="my-4">

                    {% if perms.viewer.add_event %}
                    <h3 class="text-center text-secondary mb-3">Moje vytvořené události</h3>
                    {% if profile.is_superuser or perms.viewer.add_event %}
                        <ul class="list-group">
                            {% for event in created_events %}
                                <li class="list-group-item d-flex justify-content-between align-items-center text-wrap">
                                    <a href="{% url 'event_detail' event.pk %}" class="text-truncate">
                                        {{ event.name }} ({{ event.get_start_date_cz_format }})
                                    </a>
                                    <span class="text-muted small text-truncate">Vytvořeno: {{ event.created_at|date:"d.m.Y H:i" }}</span>
                                    <span class="text-muted small text-truncate">Počet registrovaných: {{ event.reservations.count }}</span>
                                </li>
                            {% empty %}
                                <li class="list-group-item text-center">Nemáš žádné vytvořené události.</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-center">Nemáš žádné vytvořené události.</p>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="text-center mt-4">
                    {% if perms.viewer.add_event %}
                        <a href="{% url 'event_create' %}" class="btn btn-primary">Vytvořit událost</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
